*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --back_VeryDarkMangeta: hsl(300, 43%, 22%);
    --back_DarkGrayishMagenta: hsl(303, 10%, 90%);
    --back_White: hsl(0, 0%, 100%);

    --colorText_VeryDarkMangeta: hsl(300, 43%, 22%);
    --colorText_LightGrayishMagenta: hsl(300, 24%, 60%);
    --colorText_SoftPink: hsl(333, 80%, 67%);
    --colorText_White: hsl(0, 0%, 100%);
}

body{
    font-size: 0.938rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
}

#main-proof{
    background: var(--back_White);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 80px 0;
}

#box-desc-ranking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

#box-desc-product{
    max-width: 300px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 10px;
}

.desc-product strong{
    font-size: 1.7rem;
    color: var(--colorText_VeryDarkMangeta);
    line-height: 1.75rem;
}

.desc-product p{
    color: var(--colorText_LightGrayishMagenta);
}



#box-ranking{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.rated-stars{
    width: 300px;
    height: 60px;
    background-color: var(--back_DarkGrayishMagenta);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 7px;

    border-radius: 5px;
}

.rated{
    color: var(--colorText_VeryDarkMangeta);
}




#box-users-comments{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.users-comments{
    background: var(--back_VeryDarkMangeta);
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px 20px;
    border-radius: 10px;
}

.photo-name-user{
    display: flex;
    justify-content: left;
    align-items: center;
}

.photo-user img{
    width: 50px;
    border-radius: 100%;
}

.name-status-user{
    margin-left: 20px;
    font-size: 0.85rem;
    line-height: 1.4rem;
}

.name-status-user strong{
    color: var(--colorText_White);
}

.name-status-user p{
    color: var(--colorText_SoftPink);
}

.comment-user{
    text-align: left;
}

.comment-user p{
    color: var(--colorText_White);
    line-height: 1.4rem;
}



